@use './reset';
@use './variables';
@use './blocks/header';
@use './blocks/welcome';
@use './blocks/project';
@use './blocks/skills';
@use './blocks/form';
@use './blocks/footer';
@use './blocks/nav-button';
@use './blocks/overlay-mobile';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   line-height: normal;
   background-color: var(--color-bg);
   color: var(--color-main);
   font-weight: 600;
}

.no-scroll {
   overflow: hidden;
}

a {
   &:hover {
      cursor: pointer;
   }
}

// * {
//    outline: 1px solid red;
// }

.anim-item {
   opacity: 0;
   transform: translateY(-200px);
   transition: all 1s ease;
}

.active {
   opacity: 1;
   transform: translateY(0);
}


.container {
   width: 100%;
   max-width: 1300px;
   margin-inline: auto;
   padding: 0 15px;
}

.none {
   display: none;
}

.title {
   font-size: 55px;
   font-weight: 600;
   margin-bottom: 30px;


}

.span {
   color: var(--color-accent);
}

.button {
   font-weight: 600;
   padding: 10px 30px;
   border: 1px solid transparent;
   background-color: var(--color-accent);
   color: var(--color-bg);
   border-radius: 10px;
   font-size: 17px;
   transition: all 0.3s ease;

   &:hover {
      border: 1px solid var(--color-accent);
      color: #fff;
      background-color: var(--color-bg);
   }
}
