.nav-icon-btn {
   --time: 0.2s;
   --width: 50px;
   --height: 30px;
   --line-height: 1.2px;
   --line-margin: 2;
   --color: #ffffff;

   height: var(--height);
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 999;
}

.nav-icon {
   position: relative;
   width: var(--width);
   height: 3px;
   background-color: #fff;
   border-radius: 100px;
   transition: background-color .2s ease .2s;
   // display: block;
}

.nav-icon::before,
.nav-icon::after {
   content: '';
   border-radius: 100px;
   position: absolute;
   left: 0;

   width: 50px;
   height: 3px;

   background-color: #fff;
   transition: transform .3s ease,
      top .3s ease;
}

.nav-icon::before {
   top: calc(var(--line-height) * -8);
}

.nav-icon::after {
   top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
   background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
   top: 0;
   transition: top .3s ease,
      transform .3s;
}

.nav-icon.nav-icon--active::before {
   transform: rotate(-45deg);
}

.nav-icon.nav-icon--active::after {
   transform: rotate(45deg);
}